@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

QLabel {
    color: #ffffff;
    border: 1px solid #9EC8B9 ;
    border-radius: 20px ;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
QWidget {
    background-color: #092635;
}